*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(206,214,240,255) ;
    font-family: Arial, sans-serif;
    align-items: center;
    align-content: center;
    height: 100vh;
    margin: 0px;
}

.inicio_sesion{
    background-color: rgb(255, 255, 255); 
    justify-content: center;
    border-radius: 10px;
    margin: 30%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width:500px;
    text-align: center;
    
    

}
.inicio_sesion h1{
    margin: 30px;
    margin-top: -13px;
    padding: 0px 28px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.inicio_sesion  .fa-brands.fa-twitter {
    color: rgba(54, 123, 245, 255);
    margin-top: 40px;
    margin-left: 200px;
    font-size: 30px;

}


.inicio_sesion h2{
    text-align: justify;
    padding: 5px;
    margin: 0px 0px 0px 30px;
}
.inicio_sesion p{
    font-size: 14px;
    text-align: justify;
    margin: 0px 40px 10px 35px;

}




.ingreso{
    padding: 10px 30px;
    margin: 20px 10px 15px 30px;
    border-top: 2px solid rgba(244,244,245,255);
 
}
.ingreso label{
    color:rgba(22,22,22,255);
    display: block; /* Convertir el label en un bloque para que ocupe todo el ancho */
    text-align: left;
}


.ingreso input[type="text"],input[type="password"] {

    border: 1.5px solid rgba(223,226,232,255);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px ;
    padding: 6px;
    width: 100%;

}

.ingreso .log_in {
    width: 100%;
    background-color: rgba(54, 123, 245, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.ingreso .log_in:hover {
    background-color: rgb(63, 116, 196);
}

.ingreso p{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin: 0px 0px 0px 0px;
}


.ingreso strong{
    font-weight: bold;
    cursor: pointer;
}

/*----------------------------CODE PAGNA DE SERVICIOS---------------------------------------------*/

.todo {
    background-color: #fff;
    border-radius: 25px;
    margin: 0 50px
}
.todo h6{
    text-align: center;
    color: rgba(65,104,226,255);
    padding: 10px;
    font-size: 16px;

}
.todo h1{
    text-align: center;
    color: rgba(16,32,88,255);
    margin: 20px;
    font-size: 40px;
}
.todo p{
    text-align: center;
    margin: 0px 0px 20px 0px
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    color: red;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 30%;
    margin: 20px;
    text-align: left;
    margin: 10px 20px 50px 30px;
}


.item i{
    color: rgba(65,104,226,255);
    font-size: 35px;
    margin: 0px 0px -10px 30px;
}

.item h1 {
    color: rgba(16,32,88,255);
    font-size: 20px;
    cursor: pointer;
}

.item h1:hover {
    color: rgb(39, 91, 170);
}


.item p {
    color: rgba(116,116,116,255);
    text-align: left;
    margin: -10px 20px 15px 20px;
}